<div class="row col-md-12 text-center header-bg">
  <div class="row">
    <% if @group.user_id != session[:logged]["id"] %>
      <div class="col-md-12">
        <h3>
          <%= @group.name %>

          <br>

          <small>
            Administrador: <%= @group.user.name %>
          </small>
        </h3>
      </div>
    <% else %>
      <div class="col-md-8">
        <h3>
          <%= @group.name %>
          <%= link_to image_tag("/assets/icon-edit.png"), edit_group_path(@group) %>

          <br>

          <small>
            Administrador: <%= @group.user.name %>
          </small>
        </h3>
      </div>
      <div class="col-md-4">
        <br>
        <% if !@group.raffled %>
          <% if @group.users.count.even? %>
            <%= link_to "Sortear", "/sortear/#{@group.id}", class: "btn btn-success btn-lg pull-right" %>
          <% else %>
            <h5 class="text-center text-danger">Por favor, adicione um número par de participantes.</h5>
          <% end %>
        <% else %>
          <h5 class="text-center text-success">O sorteio já foi realizado</h5>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <h4>Participantes: <span class="badge"><%= @group.users.count %></span></h4>
  </div>
</div>

<div class="row">
  <% @group.users.each do |user| %>
    <% if @group.raffled %>
      <%= render :partial => 'raffled_user', :locals => {:user => user, :pair => @group.user_groups.where(:user_id => user.id).take.pair} %>
    <% else %>
      <%= render :partial => 'no_raffled_user', :locals => {:user => user} %>
    <% end %>
  <% end %>
 </div>
