<div class="row col-md-12 text-center header-bg">
  <div class="row header-height">
    <div class="col-md-8">
      <h3>
        <%= @group.name %>
        <%= if @group.user_id == session[:logged]["id"] then link_to image_tag("/assets/icon-edit.png"), edit_group_path(@group) end %>
        <br>

        <small>
          Administrador: <%= @group.user.name %>
        </small>
      </h3>
    </div>
    <div class="col-md-4">
      <br>
      <%= if @group.user_id == session[:logged]["id"] then link_to "Criar evento", "#{new_event_path}/#{@group.id}", class: "btn btn-success btn-lg" end %>
      <%= link_to "Voltar", user_path(session[:logged]["id"]), class: "btn btn-info btn-lg" %>
    </div>
  </div>

  <div class="row content-height">
    <div class="col-md-6 max_height">
      <h4>Participantes: <span class="badge"><%= @group.users.count %></span></h4>

      <div class="show_lists">
        <% @group.users.each do |user| %>
          <%= render :partial => 'user', :locals => {:user => user, :invite_flag => user.invite_flag(@group)} %>
        <% end %>
      </div>

    </div>

    <div class="col-md-6 max_height">
      <h4>Eventos: <span class="badge"><%= @group.events.count %></span></h4>

      <div class="show_lists">
        <% @group.events.each do |event| %>
          <%= render :partial => 'event', :locals => {:event => event} %>
        <% end %>
      </div>

    </div>
  </div>
</div>
