<div class="row col-md-12 text-center header-bg">
  <div class="col-md-12">
    <h3><%= @user.name %> <small><%= @user.email %></small></h3>
  </div>

  <div class="col-md-12">
    <h4>
      Grupos em que você participa:
      <small>
        <%= link_to "Criar grupo", new_group_path, :class => "btn btn-info" %>
      </small>
    </h4>
  </div>
</div>

<div class="row">
  <% @user.groups.each do |group| %>
    <% if group.raffled %>
      <%= render :partial => 'raffled_group', :locals => {:group => group, :pair => group.user_groups.where(:user_id => @user.id).take.pair} %>
    <% else %>
      <%= render :partial => 'no_raffled_group', :locals => {:group => group} %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#my_profile").addClass("active");
  });
</script>
