<div class="row">
  <h3><%= @user.name %> <small><%= @user.email %></small></h3>
</div>
<div class="row">
  <div class="row">
    <h4>
      Grupos que você participa:
      <small>
        <%= link_to "Criar grupo", new_group_path, :class => "btn btn-info" %>
      </small>
    </h4>
  </div>
  <div class="row">
    <% @user.groups.each do |group| %>
      <% if group.raffled %>
        <%= render :partial => 'raffled_group', :locals => {:group => group, :pair => group.user_groups.where(:user_id => @user.id).take.pair} %>
      <% else %>
        <%= render :partial => 'no_raffled_group', :locals => {:group => group} %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#my_profile").addClass("active");
  });
</script>
