<div class="row">
  <h3><%= @user.name %> <small><%= @user.email %></small></h3>
</div>
<div class="row">
  <div class="row">
    <h4>
      Grupos que você participa:
      <small>
        <%= link_to "Criar grupo", new_group_path, :class => "btn btn-info" %>
      </small>
    </h4>
  </div>
  <div class="row">
    <% @user.groups.each do |group| %>
      <div class="row show_group col-md-12">
        <a href="<%= "/groups/" + group.id.to_s %>">
          <label class="col-md-12">
            <div class="col-md-6">
              <h4>
                <%= group.name %>
              </h4>
            </div>
            <div class="col-md-6">
              <h5>Não sorteado</h5>
            </div>
          </label>
        </a>
      </div>
    <% end %>
  </div>
</div>
