<!DOCTYPE html>
<html>
<head>
  <title>Amigo X</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="no-home-body">
  <nav class="navbar navbar-default navbar-fixed-top nav-opacity">
    <div class="container">
      <ul class="nav navbar-nav">
        <li id="my_profile"><%= link_to "Meu perfil", user_path(session[:logged]["id"]) %></li>
        <!-- <li><a href="#" disabled>Grupos</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sair", "/logout" %></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= yield %>
      </div>
      <div class="col-md-4">
        CHAT
      </div>
    </div>
  </div>
</body>
</html>
