<!DOCTYPE html>
<html>
<head>
  <title>Amigo X</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg">
  <div class="container">
    <%= yield %>
  </div>
  <%= javascript_tag do %>
    $(document).ready(function () {
      clearInterval(chat_refresh_intervalId);
    });
  <% end %>
</body>
</html>
